.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keyboard {
  align-self: stretch;
}

.top-bar {
  margin-top: 0.7vmax;
  color: rgb(9, 9, 11);
  font-size: 2vmax;
}

.status {
  margin-right: 2vmax;
}

.select-language {
  font: inherit;
  padding: 0.3vmax;
}

.option-language {
  font: inherit
}